.number__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  //width: 500px;
}

.number {
  padding: 20px;
  font-size: 3rem;
  margin: 50px;
}

.blue {
  border: 3px solid blue;
}

.red {
  border: 3px solid red;
}
